{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Component",
            "Service/NamespaceMapper.php",
            "Infrastructure/Legacy.php",
            "Event/Subscriber/ModuleChangeSubscriber.php"
        ]
    },
    "phpUnit": {
        "configDir": ".infection"
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "@arithmetic": {
            "ignore": [
                "OxidEsales\\GraphQL\\Base\\Exception\\*"
            ]
        },
        "@number": {
            "ignore": [
                "OxidEsales\\GraphQL\\Base\\Service\\KeyRegistry::generateSignatureKey",
                "OxidEsales\\GraphQL\\Base\\Exception\\*"
            ]
        },
        "IntegerNegation": {
            "ignore": [
                "OxidEsales\\GraphQL\\Base\\Exception\\*"
            ]
        },
        "GreaterThan": {
            "ignore": [
                "OxidEsales\\GraphQL\\Base\\DataType\\PaginationFilter::addPaginationToQuery"
            ]
        },
        "LogicalAnd": {
            "ignore": [
                "OxidEsales\\GraphQL\\Base\\DataType\\PaginationFilter::addPaginationToQuery"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "OxidEsales\\GraphQL\\Base\\DataType\\IntegerFilter::addToQuery",
                "OxidEsales\\GraphQL\\Base\\Service\\Authentication::createToken"
            ]
        },
        "UnwrapStrToUpper": {
            "ignore": [
                "OxidEsales\\GraphQL\\Base\\DataType\\IntegerFilter::addToQuery"
            ]
        },
        "UnwrapArrayChangeKeyCase": {
            "ignore": [
                "OxidEsales\\GraphQL\\Base\\Framework\\RequestReader::getAuthorizationHeader"
            ]
        },
        "UnwrapTrim": {
            "ignore": [
                "OxidEsales\\GraphQL\\Base\\Framework\\RequestReader::getAuthorizationHeader"
            ]
        },
        "FunctionCall": {
            "ignore": [
                "OxidEsales\\GraphQL\\Base\\Framework\\RequestReader::getAuthorizationHeader"
            ]
        }
    }
}
