

parameters:
	ignoreErrors:
		-
			message: "#^Property OxidEsales\\\\GraphQL\\\\Base\\\\Framework\\\\ModuleSetup\\:\\:\\$moduleSettings has unknown class OxidEsales\\\\EshopCommunity\\\\Internal\\\\Framework\\\\Module\\\\Configuration\\\\Bridge\\\\ModuleSettingBridgeInterface as its type\\.$#"
			count: 1
			path: src/Framework/ModuleSetup.php

		-
			message: "#^Parameter \\$moduleSettings of method OxidEsales\\\\GraphQL\\\\Base\\\\Framework\\\\ModuleSetup\\:\\:__construct\\(\\) has invalid typehint type OxidEsales\\\\EshopCommunity\\\\Internal\\\\Framework\\\\Module\\\\Configuration\\\\Bridge\\\\ModuleSettingBridgeInterface\\.$#"
			count: 1
			path: src/Framework/ModuleSetup.php

		-
			message: "#^Call to method save\\(\\) on an unknown class OxidEsales\\\\EshopCommunity\\\\Internal\\\\Framework\\\\Module\\\\Configuration\\\\Bridge\\\\ModuleSettingBridgeInterface\\.$#"
			count: 1
			path: src/Framework/ModuleSetup.php

		-
			message: "#^Call to static method getInstance\\(\\) on an unknown class OxidEsales\\\\EshopCommunity\\\\Internal\\\\Container\\\\ContainerFactory\\.$#"
			count: 1
			path: src/Framework/ModuleSetup.php

