parameters:
    checkMissingIterableValueType: false
    bootstrapFiles:
        - phpstan-bootstrap.php

    level: max
    scanFiles:
        - ../../vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../vendor/oxid-esales/oxideshop-ce/source/overridablefunctions.php

    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - *Component/Widget/GraphQL.php
