<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         verbose="false">
         <testsuites>
             <testsuite name="UnitTests">
                 <directory>Unit/</directory>
             </testsuite>
         </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true"
                   processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../src</directory>
            <directory suffix=".php">Integration/Framework/Controller/</directory>
            <directory suffix=".php">Integration/Framework/DataType/</directory>
            <directory suffix=".php">Integration/Framework/Service/</directory>
        </whitelist>
    </filter>
</phpunit>
