/* OXID Style */

@font-face {
    font-family: "DIN Next";
    font-style: normal;
    font-weight: 400;
    src: local("DIN Next Regular"), local("DINNext-Regular"), url(fonts/DINNextLTPro-Regular.otf) format("opentype");
}

@font-face {
    font-family: "DIN Next";
    font-style: normal;
    font-weight: 700;
    src: local("DIN Next Bold"), local("DINNExt-Bold"), url(fonts/DINNextLTPro-Bold.otf) format("opentype");
}

/* Standardschriftart DIN Next für alles außer Code */
body {
    font-family: "DIN Next", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    color: #404040;
}

h1, h2, h3, h4, h5 {
    display: table;
    padding: 5px 8px 0 0px;
    font-family: "DIN Next", Arial, sans-serif;
    text-transform: uppercase;
}

h1 {
    background: #2C2C2C;
    color: #fff;
    letter-spacing: 1px;
    padding-left: 5px;
}

.rst-content .guilabel, .menuselection {
    font-weight: bold;
    border: 0;
    font-size: 100%;
    background: none;
    padding: 0;
    margin: 0;
}

/*  Beschreibung der Steuerelemente ohne Abstand zur Überschrift */
.rst-content dl dt {
    margin-bottom: 0px;
}

.rst-content .file {
    border: 0;
    background: none;
    color: black;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 0;
}

.rst-content .docutils{
    padding: 0;
}

.file .pre{
    border: 0;
    background: none;
    color: black;
    font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 110%; /* 110% passt größenmäßig besser zum Fließtext */
}

.pre{
    color: #00008B;
    background-color: #F8F8FF;
}

code, .rst-content code{
    background: none;
    border: 0;
    font-size: 90%;
}

/* Hintergrund für pre, code, code-block */
.rst-content pre, .rst-content kbd, .rst-content samp {
    background-color: #F8F8FF;
}

/*  Überschrift des Inhaltsverzeichnisses in Großschrift */
.rst-content .toctree-wrapper p.caption {
    font-family: "DIN Next", Arial, sans-serif;
    text-transform: uppercase;
}

/* Screenshots mit Schatten */
.with-shadow {
    box-shadow: 0 4px 10px #bababa;
}

/* Tabellen mit viel Text ohne horizontale Scrollbars  */
.wy-table-responsive table td {
    white-space: normal;
}

/* Tabellen immer mit 100% Breite, auch wenn wenig Text */
div.wy-table-responsive table.colwidths-given.docutils {
    width: 100%;
}

/* Exakte Tabellenbreite, wenn benötigt */
.no-width-100 {
    width: unset !important;
}

/* Keine vertikalen, schwarzen und fetten Linien in Tabellenüberschrift */
.wy-table thead th, .rst-content table.docutils thead th, .rst-content table.field-list thead th {
    border-right: solid 2px #e1e4e5;
    background-color: #bfbfbf;
    padding: 5px;
    /*  background-color: #c6d9ec;
    color: #00008B; */
}

/* Kompaktere Tabellen, horizontale und vertikale Ausrichtung in der Tabelle */
.wy-table td, .rst-content table.docutils td, .rst-content table.field-list td {
    padding: 5px;
    text-align: left;
    vertical-align: top;
}

/* Formatierung von Datenbanken, Datenbanktabellen und -feldern */
/* Muss in der conf.py als .. role:: db definiert sein */
.db {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

/* neue Formatierung der Beschreibung von Steuerelementen (dafür wird Definition list verwendet) */
dl.docutils dd {
    margin-left: unset;
    margin-bottom: 24px;
}

/* Screenshots standardmäßig mit Schatten */
div.section img {
    box-shadow: 0 4px 10px #bababa;
}

/* Kein Schatten, beispielsweise bei den Icons */
.no-shadow {
    box-shadow: initial !important;
}

.headerlink {
    display: none !important;
}

*:hover > .headerlink {
    display: inline-block !important;
}

.wy-side-nav-search {
    background: #fff;
    color: #000;
}

.wy-side-nav-search > div.version {
    color: #000;
}

.strike {
    text-decoration: line-through;
}

a, a:visited, a:hover {
    color: #C02124;
}

.wy-menu-vertical a {
    color: #b3b3b3;
}

.wy-menu-vertical a:active {
    background-color: inherit;
}

/*  Überschrift im Navigationsmenü */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #6f6f6f;
}

/* Rand des Suchfeldes */
.wy-side-nav-search input[type="text"] {
    border-color: #aa1d20;
}

.wy-nav-top {
    background: #C02124;
}

.wy-nav-top a:visited, .wy-nav-top a:hover {
    color: #fff;
}
